*{
    margin: 0px;
    padding: 0px;
}

header{
    position: sticky;
    top: 0px;
    z-index: 2;
}
nav{
    background-color: white;
    position: relative;
    display: flex;
    height: 70px;   
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.479);
}
#img-1{
    position: absolute;
    height: 45px;
    top: 12px;
    left: 12px;
}
ul{
    display: flex;
    
}
#ul-header{
    list-style: none;
}
#tittle-1{
    margin-left: 100px;
}
.info-header{
    color: rgba(4, 4, 94, 0.911);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-top: 25px;
    padding-right: 20px;
}
.info-header:hover{
    text-decoration: underline;
}
a{
    text-decoration: none;
}
#aluno-header{
    display: flex;
    position: absolute;
    height: 70px;
    width: 230px;
    right: 45px;
}
#descricao-aluno{
    padding-left: 8px;
    font-family: Arial, Helvetica, sans-serif;
}
#foto-aluno{
    margin-top: 3px;
    background-size: contain;
    border: 3px solid#0467db;
    border-radius: 50%;
    box-sizing: border-box;
    height: 63px;
}
#p-aluno{
    color: #0467db;
    padding-top: 5px;
    font-size: 12px;
    font-weight: bold;
}

.simbolo{
    margin-left: 4px;
    transform: rotate(90deg);
    display: inline-block;
}
#logo-tras{
    background: url('src/img/backgraund-sas.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 180px;
}

#barra-logo{
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    box-shadow: -1px -19px 20px rgba(0, 0, 0, 0.19);
}
#barra-logo2{
    margin-top: -24px;
    height: 20px;
    z-index: -1;
}
#area-info{
    margin: auto;
    background-color: #0467db;
    max-width: 1100px;
    height: 1000px;
    display: flex;
}
#foto-aluno-info{
    position: relative;
    margin-top: -40px;
    left: 10px;
    border: 2px solid white;
    border-radius: 50%;
    height: 100px;
}
#titulo-aluno-info{
    position: relative;
    top: 10px;
    left: 20px;
}
#nome-aluno-info{
    position: relative;
    top: 10px;
    left: 25px;
}
#ul-info{
    position: relative;
    top: 30px;
}
#sebastiao{
    position: relative;
    left: 20px;
}